body {
  height: 100%;
}

.card-container {
  height: 100vh;
}

.card {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  height: 2000px;
  opacity: 0;
  transition: 1ms;
  background: linear-gradient(45deg, #e4c1f8 0%, rgba(225, 5, 34, 0) 70%) repeat
      scroll 0% 0%,
    linear-gradient(135deg, #fcf6be 10%, rgba(49, 5, 209, 0) 80%) repeat scroll
      0% 0%,
    linear-gradient(225deg, #90e0ee 10%, rgba(10, 219, 216, 0) 80%) repeat
      scroll 0% 0%,
    rgba(0, 0, 0, 0)
      linear-gradient(315deg, #a9ded9 100%, rgba(9, 245, 5, 0) 70%) repeat
      scroll 0% 0%;
  transform: translateY(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

#today {
  color: white;
  background: black;
}
